@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.footer {
  background-color: color.adjust(v.$grisClaro, $lightness: 7%);
  border-top: 1px solid color.adjust(v.$gris, $lightness: 40%);
  padding-top: 5rem;

  &__grid {
    @include m.tablet {
      @include m.grid(2, 2rem);
    }

    @include m.desktop {
      @include m.grid(4, 2rem);
    }
  }

  &__widgets {
  }

  &__heading {
    text-transform: uppercase;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__enlace {
    text-decoration: none;
    color: v.$gris;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  &__barra {
    border-top: 3px solid color.adjust(v.$gris, $lightness: 40%);
    margin-top: 2rem;
  }
  &__nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
  }
  &__enlace--barra {
    &::before {
      content: " - ";
      margin-right: 0.5rem;
    }
  }
}
